{% extends 'base_n.html.twig' %}

{% block body_id 'projecte_index' %}

{% block main %}
    {% for proj in projs %}
        <article class="proj">
          <a href="{{ path('projecte_detall', {id: proj.id}) }}">
            <h2>{{ proj.titol }}</h2>
            <img src="{{proj.foto }}">
          </a>
        </article>
    {% else %}
        <div class="well">{{ 'proj.no_projs_found'|trans }}</div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {{ include('projecte/_indexFilt.html.twig') }}
    {{ show_source_code(_self) }}
    {{ include('projecte/_rss.html.twig') }}
{% endblock %}