{% extends 'base_n.html.twig' %}

{% block body_id 'detall_proj_show' %}

{% block main %}
    <h1>{{ proj.titol }}</h1>
    <p align="center"><img src="{{ proj.foto }}"></p>
    <br>
    <p><b>{{ 'projecte.label_descripcio'|trans }}:</b></p>
    <p align="justify">{{ proj.descripcio }}</p>
    <p><b>{{ 'projecte.label_anny'|trans }}:</b><a href="{{path('proj_filtrat_any', {anny: proj.anny })}}"> {{ proj.anny }} </a></p>
    
    
    <p><b>{{ 'projecte.label_categoria'|trans }}: </b><a href="{{path('proj_filtrat', {categoria: proj.tipus })}}">{{ proj.tipus }}</a></p>
{% endblock %}

{% block sidebar %}
    {% if is_granted('edit', proj) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_proj_edit', {id: proj.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_proj'|trans }}
            </a>
        </div>
    {% endif %}

    {{ show_source_code(_self) }}
{% endblock %}
